@model Projekat.ViewModels.FirmaViewModel


@{
    ViewBag.Title = "Firma";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="centrirano">
    <h2><b>Firme koje nude stručnu praksu</b></h2>
</div>

<style>
    .centrirano {
        display: flex;
        justify-content: center;
    }

    .firmaDiv {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 300px ;
        height: 300px;
        flex: 1; /* additionally, equal width */
        padding: 1em;
        flex-wrap:wrap;

    }

    .sveFirme {
        display: flex;
        justify-content: center;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        flex: 1; /* additionally, equal width */
        padding: 1em;
        flex-wrap:wrap;
    }
</style>
<div class="sveFirme">

    @foreach (var firma in Model.Firme)
    {
        <div class="firmaDiv">

            <h3>
                <a class="btn" href="/Firma/ViewProfileAsGuest/@firma.Id">
                    <img src="~/Images/briefcase2.png" alt="" style="width:50px" />

                    <h2>@firma.Ime</h2>
                    <div class="item-date text-muted text-sm d-none d-md-block">Grad: @firma.Grad</div>

                </a>

            </h3>

        </div>
    }
</div>





@*<div class="row">
        <div class="col-md-7">
            <img src="~/Images/briefcase.jpg" alt="" style="width:50px" />
        </div>
        <h2>@firma.Ime</h2>

        <div class="col-md-1"></div>
        <div class="col-md-4">
            <h2>@firma.Grad</h2>
            @Html.ActionLink("Oglasi", "ViewProfileAsGuest", "Firma", new { id = @firma.Id }, new { @class = "btn btn-success" })
        </div>
    </div>*@

